<!-- Pedophile -->
<section class="page-section" id="{{ site.data.sitetext.pedophile.section | default: " pedophile" }}">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">{{ site.data.sitetext.pedophile.title | default: "About
          Us" }}</h2>
        <h3 class="section-subheading text-muted">{{ site.data.sitetext.pedophile.text | default: "" }}
        </h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 mx-auto text-left large text-muted">
          <p>Daniel Perry has a history of attempting to sexually groom minors. The court filing stated that Perry (as a
            man well into his thirties) searched on Safari for, among other terms “good chats to meet young girls” and
            “good chats to meet young girls on kik”.
          </p>
          <p>Pages 66-68 of the <a href="/assets/evidence/daniel-perry-court-filing.pdf">filing</a> contain a transcription of a
            conversation he had over text with one such minor (referred to as “Yuno Iazuki”, an alias), of which I've included
            screenshots below (outlined in red).
          </p>
        {% include imagelink.html file="perry_pedo_1.jpg" alt="Daniel Perry grooming a minor, who says “Ok so im 16 ill be 17 in 3 months u sure u want me”" %}
        <p></p>
        <p>Here Perry makes it clear he wants a "real long relationship", and is apparently unfazed by Iazuki saying that she's 16 years old.</p>
        {% include imagelink.html file="perry_pedo_2.jpg" alt="Daniel Perry grooming a minor, saying that he should be her boyfriend" %}
        <p></p>
        <p>Shortly after Perry mentions a previous conversation with a minor, establishing that sexually grooming minors is a pattern of behavior for him. He then awkwardly suggests that he should be her boyfriend. Minor's phone number blurred for privacy.</p>
        {% include imagelink.html file="perry_pedo_3.jpg" alt="Daniel Perry grooming a minor, where he says “I work in a field where I have to be careful and not lose my security clearance. Because with out it I lose my job”"  %}
        <p></p>
        <p>Perry then clarifies that he has no moral issues with graphic communication with minors, his only concern is his security clearance and job as an Army Sergeant. The 16 year old then rejects Perry's advances and ends the conversation.</p>
      </div>
    </div>
  </div>
</section>
<!-- End Pedophile -->